.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  gap: 5px;
  height: 100%;
  grid-template-areas:
    "filter"
    "graph"
    //"summary"
    ;
}

.grid-item {
  //border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  grid-area: "filter";
}

.filter-item {
  margin-left: 5px;
  margin-right: 5px;
}

.graph {
  grid-area: "graph";
}

.spinner {
  grid-area: "graph";
}

.summary {
  grid-area: "summary";
}
