<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stash-http"
              class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <ringBufferSize>8192</ringBufferSize>
        <appender class="de.idealo.whitelabels.logback.HttpAppender">
            <httpClient class="de.idealo.whitelabels.logback.HttpClient">
                <destination>${LOGSTASH_URL:-http://localhost:5001}</destination>
            </httpClient>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>stats.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>stats.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
<!--        <appender-ref ref="stash-http" />-->
    </root>
</configuration>