<div class="grid-container">
  <div class="grid-item realt-diff">
    realt-diff
  </div>
  <app-line-chart class="grid-item realt-total" [data]="countRealt"></app-line-chart>
  <app-line-chart class="grid-item realt-price" [data]="priceRealt"></app-line-chart>

  <div class="grid-item onliner-diff">
    onliner diff
  </div>
  <app-line-chart class="grid-item onliner-total" [data]="countOnliner"></app-line-chart>
  <app-line-chart class="grid-item onliner-price" [data]="priceOnliner"></app-line-chart>
</div>
