<div class="grid-container">

  <div class="grid-item realt-diff">
    <span>Realt: </span>
    <app-diff [start]="priceRealtStart" [end]="priceRealtEnd" [sku]="'$'" [fullInfo]="true" *ngIf="!priceRealtLoading"></app-diff>
    <app-diff [start]="countRealtStart" [end]="countRealtEnd" [fullInfo]="true" *ngIf="!countRealtLoading"></app-diff>
  </div>

  <div class="grid-item realt-price" *ngIf="priceRealtLoading">
    <mat-spinner mode="indeterminate" class="inner" [diameter]="50">
    </mat-spinner>
  </div>
  <app-line-chart class="grid-item realt-price" [data]="priceRealt" *ngIf="!priceRealtLoading"></app-line-chart>

  <div class="grid-item realt-total" *ngIf="countRealtLoading">
    <mat-spinner mode="indeterminate" class="inner" [diameter]="50">
    </mat-spinner>
  </div>
  <app-line-chart class="grid-item realt-total" [data]="countRealt" *ngIf="!countRealtLoading"></app-line-chart>

  <div class="grid-item onliner-diff">
    <span>Onliner: </span>
    <app-diff [start]="priceOnlinerStart" [end]="priceOnlinerEnd" [sku]="'$'" [fullInfo]="true" *ngIf="!priceOnlinerLoading"></app-diff>
    <app-diff [start]="countOnlinerStart" [end]="countOnlinerEnd" [fullInfo]="true" *ngIf="!priceOnlinerLoading"></app-diff>
  </div>

  <div class="grid-item onliner-price" *ngIf="priceOnlinerLoading">
    <mat-spinner mode="indeterminate" class="inner" [diameter]="50">
    </mat-spinner>
  </div>
  <app-line-chart class="grid-item onliner-price" [data]="priceOnliner" *ngIf="!priceOnlinerLoading"></app-line-chart>

  <div class="grid-item onliner-total" *ngIf="countOnlinerLoading">
    <mat-spinner mode="indeterminate" class="inner" [diameter]="50">
    </mat-spinner>
  </div>
  <app-line-chart class="grid-item onliner-total" [data]="countOnliner" *ngIf="!countOnlinerLoading"></app-line-chart>

</div>
