<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Realt</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/stats/today">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stats/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/count']">Total</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/count-years']">Total/Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/price']">Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/price-year']">Price/Year</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/stats/overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test">Test</a>
      </li>

    </ul>
  </div>
</nav>
