<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Realt</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/stats/today">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stats/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/count/realt']">Graph Total (Realt)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/count/onliner']">Graph Total (Onliner)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/price/realt']">Graph Price (Realt)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats/graph/price/onliner']">Graph Price (Onliner)</a>
      </li>
    </ul>
  </div>
</nav>
