.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 60px;
  gap: 10px;
  height: 100%;
  grid-template-areas:
    "filter"
    "graph"
    "summary";
}

.grid-item {
  border: 1px solid blue;
  margin: 5px;
}

.filter {
  grid-area: "filter";
}

.graph {
  grid-area: "graph";
}

.summary {
  grid-area: "summary";
}

.test{
  border: 1px solid blue;
  //height: 100vh;
}
